@using OnlineBookLibrary.Helpers
@model OnlineBookLibrary.Models.Loan

<h4 class="card-title">@Model.Book.Name</h4>
<div class="row">
    <div class="col-md-3">
        @Html.Image($"/Content/Images/Books/{Model.Book.Image}", "132", "305", "", "img-fluid")
    </div>
    <div class="col-md-3">
        <p>Author: @Model.Book.Author</p>
        <p>Year: @Model.Book.Year</p>
        <p>Description: @Model.Book.Description</p>
        <p>Category: <strong>@string.Join(" | ", Model.Book.Tags)</strong></p>
    </div>
    <div class="col-md-6">

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Return book", "CancelLoan", "Loan", new { bookID = Model.BookID, userID = Model.UserID }, new { @class = "btn btn-dark mx-auto" })
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>
