@using OnlineBookLibrary.Helpers
@model IEnumerable<OnlineBookLibrary.Models.Book>


<table class="table">
    <tr>


        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>

        <td></td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.Image($"/Content/Images/Books/{item.Image}", "145", "215", "", "img-fluid")
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>

            <td>
                @Html.ActionLink("Edit", "EditBook", "Librarian", new { id = item.Id }, null)
            </td>
            <td>
                @Html.ActionLink("Delete","DeleteBook", "Librarian", new { id = item.Id }, null)
            </td>
        </tr>
    }
    <tr>
        <td colspan="4">
            <a href="@Url.Action("AddBook", "Librarian")"><button class="active">+</button></a>
        </td>
    </tr>
</table>

