@model IEnumerable<OnlineBookLibrary.Models.User>


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BannedUntil)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsBanned)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ViolationsNr)
        </th>
        <td></td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
                
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.BannedUntil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBanned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViolationsNr)
            </td>
            <td>
                @Html.ActionLink("Make Librarian", "Edit", new {id = item.Id}) 
            </td>
        </tr>
    }

</table>
