@using OnlineLibrary.Helpers
@model OnlineLibrary.Models.Book

@{
    ViewBag.Title = Model.Name + "- Details";
}

@section Header
{
    <nav class="navbar navbar-expand-sm" style="background-color:black;">
        <ul class="navbar-nav">
            <li class="nav-item ">
                <h4 class="text-white">@Html.ActionLink("Home", "Index", "Home", null, new { style = @"text-decoration:none;", @class = "text-white" })</h4>
            </li>
        </ul>
    </nav>
    <br>
    <div class="container" name="onlineLibraryLogo">
        <div class="row text-center">
            <div class="col-md-12 col-sm-12 ">
                <h1 class="display-4">Online Library</h1>
            </div>
        </div>
    </div>
}


@section Body
{
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h1>@Model.Name</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                @Html.Image($"/Content/Images/Books/{Model.Image}", "312", "475", "", "img-fluid")
                @*<img class="card-img" style="width: 312px; height:475px" src="http://via.placeholder.com/300x300">*@
            </div>
            <div class="col-md-3">
                <p>Author: @Model.Author</p>
                <p>Year: @Model.Year</p>
                <p>Description: @Model.Description</p>
                <p>Category: <strong>Placeholder</strong></p>              
            </div>
            <div class="col-md-5">

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <a href="" class="btn btn-dark mx-auto">Rent book</a>
            </div>
            <div class="col-md-4">
                
            </div>
        </div>
    </div>
}




