@model IEnumerable<OnlineLibrary.Models.Book>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header
{
<nav class="navbar navbar-expand-sm" style="background-color:black;">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
            <h4 class="text-white">@Html.ActionLink("Home", "Index", "Home", null, new { style = @"text-decoration:none;", @class = "text-white" })</h4>
        </li>
    </ul>
    @Html.Partial("~/Views/Shared/_UserState.cshtml")

</nav>
    <br>
    <div class="container" name="onlineLibraryLogo">
        <div class="row text-center">
            <div class="col-md-12 col-sm-12 ">
                <h1 class="display-1">Online Library</h1>
            </div>
        </div>
    </div>
}

@section Body
{
    <div class="container" name="loansContainer">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h5>Top 3 Rented Books of the Month</h5>
            </div>
        </div>
        @Html.Action("TopLoans")
    </div>
    <br/>
    <br/>
    <br/>
    @Html.Partial("_BooksContainer")

    <script>
        $(function() {
            var maxPage = $("#maxpage").text();

            $('#maxPageSpan').text(maxPage);
            

            $("select").change(
                function () {
                    $("#currentPage").text("1");
                    $("#books-container").load("@Url.Action("TaggedBookPage", "Book")/" +
                        $("#currentPage").text() +
                        "/" +
                        $(this).val(),
                        function() {
                            maxPage = $("#maxpage").text();
                            $('#maxPageSpan').text(maxPage);
                            
                        }
                    );
                    
                });


            $("#prev-button").click(
                function() {
                    let pagenum = parseInt($("#currentPage").text());
                    if (pagenum > 1) {
                        pagenum--;
                        $("#currentPage").text(pagenum);
                        $("#books-container").load("@Url.Action("TaggedBookPage", "Book")/" +
                            pagenum +
                            "/" +
                            $("select").val()
                        );
                    }
                });

            $("#next-button").click(
                function() {
                    let pagenum = parseInt($("#currentPage").text());

                    if (pagenum < maxPage) {
                        pagenum++;

                        $("#currentPage").text(pagenum);
                        $("#books-container").load("@Url.Action("TaggedBookPage", "Book")/" +
                            pagenum +
                            "/" +
                            $("select").val()
                        );
                    }
                });
        })
    </script>
}