@model OnlineBookLibrary.Models.LibrarianPasswordModel
@{
    ViewBag.Title = "Change Password";
}

@section Header
{
    <nav class="navbar navbar-expand-sm" style="background-color:black;">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <h4 class="text-white">@Html.ActionLink("Home", "Index", "Home", null, new { style = @"text-decoration:none;", @class = "text-white" })</h4>
            </li>
        </ul>
        @Html.Partial("~/Views/Shared/_UserState.cshtml")
    </nav>
    <br>
}

@section Body
{

    <div class="col-md-6">
        <h2>Change Password</h2><br /><br />

        @using (Html.BeginForm("ChangeLibrarianPassword", "User", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.Email)

            <div class="row bot-buffer">
                @Html.LabelFor(a => a.OldPassword, new { @class = "col-sm-4 " })
                @Html.PasswordFor(a => a.OldPassword, new { @class = "col-sm-6" })
                <div class="col-sm-6 offset-sm-4">
                    @Html.ValidationMessageFor(a => a.OldPassword)
                </div>
            </div>
            <div class="row bot-buffer">
                @Html.LabelFor(a => a.NewPassword, new { @class = "col-sm-4 " })
                @Html.PasswordFor(a => a.NewPassword, new { @class = "col-sm-6" })
                <div class="col-sm-6 offset-sm-4">
                    @Html.ValidationMessageFor(a => a.NewPassword)
                </div>
            </div>
            <div class="row bot-buffer">
                @Html.LabelFor(a => a.NewPasswordConfirm, "Password Confirm:", new { @class = "col-sm-4" })
                @Html.PasswordFor(a => a.NewPasswordConfirm, new { @class = "col-sm-6" })
                <div class="col-sm-6 offset-sm-4">
                    @Html.ValidationMessageFor(a => a.NewPasswordConfirm)

                </div>
            </div>
            <div class="row bot-buffer text-center">
                <div class="col-md-12 ">
                    <input type="submit" class="btn btn-dark " value="Save" />
                </div>
            </div>

            @Html.ValidationSummary(true)
        }
        </div>
}
