@model OnlineLibrary.Models.UserAuthModel
@{
    ViewBag.Title = "Authentication";
}


@section Header {
    <div class="container" name="onlineLibraryLogo">
        <div class="row text-center">
            <div class="col-md-12 col-sm-12 ">
                <h1 class="display-1">Online Library</h1>
            </div>
        </div>
    </div>

}



@section Body {
 
    <div class=" container">
        <div class="row">

            <div class="col-md-6 md-norder-right">
                <div class="row text-center bot-buffer">
                    <div class="col-md-12">
                        <h4 class="display-4 ">Log in</h4>
                    </div>
                </div>

                @using (Html.BeginForm("Login", "User", FormMethod.Post, new { @id = "loginForm" }))
    {
            

            @Html.AntiForgeryToken()

            <div class="row bot-buffer">
                @Html.LabelFor(a => a.UserLoginModel.Email, new { @class = "col-sm-4 " })
                @Html.TextBoxFor(a => a.UserLoginModel.Email, new { @class = "col-sm-6 " })

            </div>
            <div class="row bot-buffer">
                @Html.LabelFor(a => a.UserLoginModel.Password, new { @class = "col-sm-4 "  })
                @Html.PasswordFor(a=> a.UserLoginModel.Password, new { @class = "col-sm-6" })
                

            </div>
            <div class="row bot-buffer text-center">
                <div class="col-md-12 ">
                    <input type="submit" class="btn btn-dark" name="loginSubmit" value="Log in" />
                </div>
            </div>
            <div class="row bot-buffer">
                @if (Request.Form.AllKeys.Contains("loginSubmit"))
                {
                @Html.ValidationSummary(true)
                }
                @Html.ValidationMessageFor(a => a.UserLoginModel.Email)
                @Html.ValidationMessageFor(a => a.UserLoginModel.Password)

            </div>
}
            </div>


            <div class="col-md-6">
                <div class="row text-center bot-buffer">
                    <div class="col-md-12">
                        <h4 class="display-4 ">Register user</h4>
                    </div>
                </div>
                
                @using (Html.BeginForm("Register", "User", FormMethod.Post))
    {
            @Html.AntiForgeryToken()
                <div class="row bot-buffer">
                    @Html.LabelFor(a => a.UserRegisterModel.Email, new { @class = "col-sm-4 " })
                    @Html.TextBoxFor(a => a.UserRegisterModel.Email, new { @class = "col-sm-6 " })
                    <div class="col-sm-6 offset-sm-4">
                        @Html.ValidationMessageFor(a => a.UserRegisterModel.Email)
                    </div>
                </div>
            <div class="row bot-buffer">
                @Html.LabelFor(a => a.UserRegisterModel.Password, new { @class = "col-sm-4 " })
                @Html.PasswordFor(a => a.UserRegisterModel.Password, new { @class = "col-sm-6" })
                <div class="col-sm-6 offset-sm-4">
                    @Html.ValidationMessageFor(a => a.UserRegisterModel.Password)
                </div>
            </div>
            <div class="row bot-buffer">
                @Html.LabelFor(a => a.UserRegisterModel.PasswordConfirm, "Password Confirm:", new { @class = "col-sm-4" })
                @Html.PasswordFor(a => a.UserRegisterModel.PasswordConfirm, new { @class = "col-sm-6" })
                <div class="col-sm-6 offset-sm-4">
                    @Html.ValidationMessageFor(a => a.UserRegisterModel.PasswordConfirm)
                    
                </div>
            </div>
            <div class="row bot-buffer text-center">
                <div class="col-md-12 ">
                    <input type="submit" class="btn btn-dark " name="registerSubmit" value="Register" />
                </div>
            </div>
            <div class="row bot-buffer">
                @if (Request.Form.AllKeys.Contains("registerSubmit"))
                {
                @Html.ValidationSummary(true)
                }

                
                

            </div>

}
            </div>
        </div>
    </div>
}